# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform variables
*.tfvars
!terraform.tfvars.example

# Terraform plan
*.tfplan
*.tfplan.*

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# OS / IDE
.DS_Store
.vscode/
.idea/

# Logs
*.log

# Secrets
.env
.env.*
